<!DOCTYPE html>
<html>
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-30VM9LMF8P"></script>
    <script>
       window.dataLayer = window.dataLayer || [];
       function gtag(){dataLayer.push(arguments);}
       gtag('js', new Date());

       gtag('config', 'G-30VM9LMF8P');
    </script>

    {% load static %}
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type='image/x-icon' />
    <link rel="stylesheet" type="text/css" href="{% static 'lib/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'lib/bootstrap-table.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'lib/all.css' %}">
        

    <nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
        <div class="container">
            <a href="/" class="navbar-brand">Carolina Materials Database</a>
            <button class="navbar-toggler float-right" type="button" data-toggle="collapse" data-target="#navbar9">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse" id="navbar9">
                <ul class="navbar-nav ml-auto">
                    {% with url_name=request.resolver_match.url_name %}
                    <li class="nav-item {% if url_name == 'home' %}active{% endif %}">
                        <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item  {% if url_name == 'search' %}active{% endif %}">
                        <a class="nav-link" href="{% url 'search' %}">Search</a>
                    </li>
                    <li class="nav-item {% if url_name == 'docs' %}active{% endif %}">
                        <a class="nav-link" href="{% url 'docs' %}">Documentation</a>
                    </li>
                    <li class="nav-item  {% if url_name == 'forum' %}active{% endif %}">
                        <a class="nav-link" href="{% url 'forum' %}">Forum</a>
                    </li>
                    <li class="nav-item  {% if url_name == 'contact' %}active{% endif %}">
                        <a class="nav-link" href="{% url 'contact' %}">Contact</a>
                    </li>
                    {% endwith %}
                </ul>
            </div>
        </div>
    </nav>

{% block title %}
    <title>CMD - Carolina Materials Database</title>
{% endblock %}
</head>
<body>

{% block body %}
    <h1>Coming soon...</h1>
{% endblock %}

{% block footer %}
    <footer class="my-1 pt-1 text-muted text-center text-small">
      <div class="container">
        <hr>
        <p class="mb-1">&copy; <a href="http://mleg.cse.sc.edu/" target="_blank">2020-2021 MLEG Lab at University of South Carolina</a><br>
        <div class="row">
          <div class="col-12 col-md-2"></div>
          <div class="col-12 col-md-4">
            Designed and Developed by Yong Zhao.<br /> Contact us by <a href="mailto:jc4302356@gmail.com" target="_blank">e-mail</a>.</p> 
          </div>
          <div class="col-12 col-md-4">
            If you are using any results from this website,<br />
            please reference this work as shown <a href="{% url 'docs' %}">here</a></div>
          </div>
          <div class="col-12 col-md-2"></div>
        </div>
      
        <div>
          <a href="{% url 'terms' %}">Terms of Use</a><br />
          <a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="Creative Commons License" style="border-width:0" src="{% static 'images/cc.png' %}" /></a><br />The data in CMD is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/4.0/" target="_blank">Creative Commons Attribution 4.0 International License</a>.
        </div>
      </div>
    </footer>
{% endblock %}
<script src="{% static  'lib/jquery-3.2.1.slim.min.js' %}" ></script>
<script src="{% static  'lib/popper.min.js' %}" ></script>
<script src="{% static  'lib/bootstrap.min.js' %}" ></script>
<script src="{% static  'lib/bootstrap-slider.min.js' %}" ></script>
<script src="{% static  'lib/highlight.min.js' %}" ></script>

<link rel="stylesheet" type="text/css" href="{% static 'lib/bootstrap-slider.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'lib/bootstrap-slider.min.css' %}">
<script src="{% static  'lib/bootstrap-table.min.js' %}" ></script>

<script>hljs.initHighlightingOnLoad();</script>
<script>
    $(document).ready(function() {
        $('.tooltip').tooltip();

        $('#id_formation_energy').slider({
            min  : -4.0,
            max  : 4.0,
            step : 0.01,
            value: [-4.0, 4.0],
            // tooltip:'always',
            labelledby: ['id_formation_energy_low', 'id_formation_energy_low']
        });

        $("#fe-enabled").click(function() {
        if(this.checked) {
            // With JQuery
            $("#id_formation_energy").slider("enable");

        }
        else {
            // With JQuery
            $("#id_formation_energy").slider("disable");

        }
    });

    });
</script>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" type="text/css" href="{% static 'lib/bootstrap-select.min.css' %}">

<!-- Latest compiled and minified JavaScript -->
<script src="{% static  'lib/bootstrap-select.min.js' %}" ></script>


<script type="text/javascript">
    $(document).ready(function() {
        $('#id_spacegroup').selectpicker();

        $('#id_prototype').selectpicker();
    });
</script>

<script>
function sortTable(n, type) {
  var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
  table = document.getElementById("tab-results");
  switching = true;
  // Set the sorting direction to ascending:
  dir = "asc";
  /* Make a loop that will continue until
  no switching has been done: */
  while (switching) {
    // Start by saying: no switching is done:
    switching = false;
    rows = table.rows;
    /* Loop through all table rows (except the
    first, which contains table headers): */
    for (i = 1; i < (rows.length - 1); i++) {
      // Start by saying there should be no switching:
      shouldSwitch = false;
      /* Get the two elements you want to compare,
      one from current row and one from the next: */
      x = rows[i].getElementsByTagName("TD")[n];
      y = rows[i + 1].getElementsByTagName("TD")[n];

       if (type == 'num') {
            xv = Number(x.innerHTML)
            yv = Number(y.innerHTML)
        } else if (type == 'str') {
            xv = x.innerHTML.toLowerCase()
            yv = y.innerHTML.toLowerCase()
        }

      /* Check if the two rows should switch place,
      based on the direction, asc or desc: */
      if (dir == "asc") {
        if (xv > yv) {
          // If so, mark as a switch and break the loop:
          shouldSwitch = true;
          break;
        }
      } else if (dir == "desc") {
        if (xv < yv) {
          // If so, mark as a switch and break the loop:
          shouldSwitch = true;
          break;
        }
      }
    }
    if (shouldSwitch) {
      /* If a switch has been marked, make the switch
      and mark that a switch has been done: */
      rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
      switching = true;
      // Each time a switch is done, increase this count by 1:
      switchcount ++;
    } else {
      /* If no switching has been done AND the direction is "asc",
      set the direction to "desc" and run the while loop again. */
      if (switchcount == 0 && dir == "asc") {
        dir = "desc";
        switching = true;
      }
    }
  }
}
</script>

</body>
</html>
