{% extends 'base.html' %}

{% block title %}
        <title>CMD - Contact</title>
{% endblock %}

{% block body %}
<br>
<div class="container">
	<div class="row">
	    <div class="col-sm">
	      <div class="card border-info mb-3" style="width: 24rem;">
			<div class="card-body">
			  <h5 class="card-title">Yong Zhao</h5>
			  <h6 class="card-subtitle mb-2 text-muted">PhD Candidate</h6>
			  <p class="card-text" style="font-size:75%;">Department of Computer Science and Engineering<br>
				University of South Carolina, USA<br>
				Email: yongz@email.sc.edu
			  </p>
			  <a href="https://www.linkedin.com/in/yong-zhao-b30920168/" style="font-size:75%;" target="_blank">Linkedin</a><br>
			  <a href="https://github.com/MilesZhao" style="font-size:75%;" target="_blank">GitHub</a><br>
			  <a href="https://scholar.google.com/citations?user=vDIJqyUAAAAJ&hl=en" style="font-size:75%;" target="_blank">Google Scholar</a>
			</div>
		  </div>
	    </div>

	    <div class="col-sm">
	      <div class="card border-info mb-3" style="width: 24rem;">
			<div class="card-body">
			  <h5 class="card-title">Dr. Jianjun Hu</h5>
			  <h6 class="card-subtitle mb-2 text-muted">Associate Professor</h6>
			  <p class="card-text" style="font-size:75%;">Department of Computer Science and Engineering<br>
				University of South Carolina, USA<br>
				Email: jianjunh@cse.sc.edu
			  </p>
			  <a href="https://cse.sc.edu/~jianjunh/" style="font-size:75%;" target="_blank">Home</a><br>
			  <a href="https://scholar.google.com/citations?user=_iD3nyMAAAAJ&hl=en" style="font-size:75%;" target="_blank">Google Scholar</a><br>
			  <a href="http://mleg.cse.sc.edu/" style="font-size:75%;" target="_blank">Machine Learning and Evolution Group</a>
			</div>
		  </div>
	    </div>

	    <div class="col-sm">
	      <div class="card border-info mb-3" style="width: 24rem;">
			<div class="card-body">
			  <h5 class="card-title">Prof. Dr.-Ing. Ming Hu</h5>
			  <h6 class="card-subtitle mb-2 text-muted">Associate Professor</h6>
			  <p class="card-text" style="font-size:75%;">Department of Mechanical Engineering<br>
				University of South Carolina, USA<br>
				Email: hu@sc.edu
			  </p>
			  <a href="https://sc.edu/study/colleges_schools/engineering_and_computing/faculty-staff/minghu.php" style="font-size:75%;" target="_blank">Home</a><br>
			  <a href="https://scholar.google.com/citations?user=8Wt2yS0AAAAJ&hl=en" style="font-size:75%;" target="_blank">Google Scholar</a><br>
			  <a href="https://hu-lab.mystrikingly.com/" style="font-size:75%;" target="_blank">Advanced Materials Discovery and Simulation Laboratory</a>
			</div>
		  </div>
	    </div>
	</div>

	

	
</div>



{% endblock %}
