{% extends 'base.html' %}

{% block title %}
        <title>CMD - Documentation</title>
{% endblock %}

{% block body %}
<div class="container">
    <h1>Publications</h1>
    If you are using CMD in your research, please reference the following work:<br><br>

    <h2>preprints</h2>

    <ol>
        <li>
          <div class="col-sm-8">
            
            <div > 
                <p class="font-italic" style="margin: 0;">High-throughput discovery of novel cubic crystal materials using deep generative neural networks</p>
            </div>
              
            <div> 
                <p class="font-weight-light" style="margin: 0;"> <em>Yong Zhao</em>, Mohammed Al-Fahdi, Ming Hu, Edirisuriya MD Siriwardane, Yuqi Song, Alireza Nasiri and Jianjun Hu</p>
            </div>

            <div>
                <em>arXiv preprint arXiv:2102.01880</em> 2021 <a href="https://arxiv.org/abs/2102.01880" class="btn btn-link" target="_blank">arXiv</a>
            </div>

          </div>
        </li>


    </ol>

</div>
{% endblock %}
