{% extends 'base.html' %}

{% block title %}
        <title>CMD - Documentation</title>
{% endblock %}

{% block body %}
<div class="container">
    <h1>Publications</h1>
    If you are using CMD in your research, please reference the following work:<br><br>

    <h2>Preprints</h2>

    <ol>
        <li>
          <div class="col-sm-8">
            
            <div > 
                <p class="font-italic" style="margin: 0;">Physics Guided Generative Adversarial Networks for Generations of Crystal Materials with Symmetry Constraints</p>
            </div>
              
            <div> 
                <p class="font-weight-light" style="margin: 0;"> <strong><em>Yong Zhao</em></strong>, Edirisuriya MD Siriwardane, Zhenyao Wu, Ming Hu, Nihang Fu, Jianjun Hu</p>
            </div>

            <div>
                <em>arxiv</em> 2022 <a href="https://arxiv.org/pdf/2203.14352.pdf" target="_blank">Arxiv</a>
            </div>

          </div>
        </li>


    </ol>

    <h2>Journals</h2>

    <ol>
        <li>
          <div class="col-sm-8">
            
            <div > 
                <p class="font-italic" style="margin: 0;">High-throughput discovery of novel cubic crystal materials using deep generative neural networks</p>
            </div>
              
            <div> 
                <p class="font-weight-light" style="margin: 0;"> <strong><em>Yong Zhao</em></strong>, Mohammed Al-Fahdi, Ming Hu, Edirisuriya MD Siriwardane, Yuqi Song, Alireza Nasiri and Jianjun Hu</p>
            </div>

            <div>
            	<em>Adv. Sci.</em> 2021 <a href="https://onlinelibrary.wiley.com/doi/10.1002/advs.202100566" target="_blank">doi/10.1002/advs.202100566</a>
	       </div>

          </div>
        </li>

        <li>
          <div class="col-sm-8">
            
            <div > 
                <p class="font-italic" style="margin: 0;">Generative adversarial networks (GAN) based efficient sampling of chemical composition space for inverse design of inorganic materials</p>
            </div>
              
            <div> 
                <p class="font-weight-light" style="margin: 0;"> Yabo Dan, <strong><em>Yong Zhao</em></strong>, Xiang Li, Shaobo Li, Ming Hu, Jianjun Hu</p>
            </div>

            <div>
                <em>Npj Comput. Mater.</em> 2021 <a href="https://doi.org/10.1038/s41524-020-00352-0" target="_blank">doi.org/10.1038/s41524-020-00352-0</a>
           </div>

          </div>
        </li>


    </ol>

    <h2>Conferences</h2>

    <ol>
        <li>
          <div class="col-sm-8">
            
            <div > 
                <p class="font-italic" style="margin: 0;">Physics guided deep learning generative models for crystal materials discovery</p>
            </div>
              
            <div> 
                <p class="font-weight-light" style="margin: 0;"> <strong><em>Yong Zhao</em></strong>, Edirisuriya MD Siriwardane, Jianjun Hu</p>
            </div>

            <div>
                <em>AAAI Fall Symposium Series (FSS) 2021</em> <a href="https://drive.google.com/file/d/1HrvM7UIcJRIDJD6cbyq-rQN4_14FCvE-/view" target="_blank">Paper Link</a> <a href="https://arxiv.org/pdf/2112.03528.pdf" target="_blank">Arxiv</a>
            </div>
            <div>
                <p class="font-weight-light" style="margin: 0;"><a href="https://sites.google.com/vt.edu/sgai-aaai-21" target="_blank">Symposium Site</a></p>
            </div>

          </div>
        </li>


    </ol>

</div>
{% endblock %}
