{% extends 'base.html' %}

{% block body %}
<div class="container">
   <div class="py-3 text-center">
    <p class="lead">Welcome to Carolina Materials Database created in <a href="http://mleg.cse.sc.edu/" target="_blank">Jianjun Hu's</a> and <a href="https://hu-lab.mystrikingly.com/" target="_blank">Ming Hu's</a> groups at University of South Carolina. A freely, globally accessible database of  <span style="color:red"><b>36847</b></span> inorganic material compounds with over <span style="color:blue"><b>70000</b></span> calculated properties, and growing.</p>
  </div>

  <div class="row">
        <div class="col-md-3 py-2">
            <div class="card h-100">
                <div class="text-center">
                    <h3><span style="color:blue">141</span></h2>
                    <h4>ABC<sub>6</sub>-216 stable compounds</h4>
                    <a href="{% url 'demo'  %}?demo_id=1">Demo</a>
                </div>
            </div>
        </div>
        <div class="col-md-3 py-2">
            <div class="card h-100">
                <div class="text-center">
                    <h3><span style="color:blue">42</span></h2>
                    <h4>AB<sub>6</sub>C<sub>6</sub>-225 stable compounds</h4>
                    <a href="{% url 'demo'  %}?demo_id=2">Demo</a>
                </div>
            </div>
        </div>
        <div class="col-md-3 py-2">
            <div class="card h-100">
                <div class="text-center">
                    <h3><span style="color:blue">261</span></h2>
                    <h4>ABCD<sub>6</sub>-216 stable compounds</h4>
                    <a href="{% url 'demo'  %}?demo_id=3">Demo</a>
                </div>
            </div>
        </div>
        <div class="col-md-3 py-2">
            <div class="card h-100">
                <div class="text-center">
                    <h3><span style="color:blue">62</span></h2>
                    <h4>ABC<sub>6</sub>D<sub>6</sub>-216 stable compounds</h4>
                    <a href="{% url 'demo'  %}?demo_id=4">Demo</a>
                </div>
            </div>
        </div>
  </div>
  <br>
  <br>
  <div class="row d-flex justify-content-center">
        <div class="col-md-3 py-2">
            <div class="card h-100">
                <div class="text-center">
                    <h3><span style="color:blue">35752</span></h2>
                    <h4>space group F4<span style="text-decoration:overline;">3</span>m compounds</h4>
                </div>
            </div>
        </div>
        <div class="col-md-3 py-2">
            <div class="card h-100">
                <div class="text-center">
                    <h3><span style="color:blue">579</span></h2>
                    <h4>space group Fm<span style="text-decoration:overline;">3</span>m compounds</h4>
                </div>
            </div>
        </div>
        <div class="col-md-3 py-2">
            <div class="card h-100">
                <div class="text-center">
                    <h3><span style="color:blue">516</span></h2>
                    <h4>space group Pm<span style="text-decoration:overline;">3</span>m compounds</h4>
                </div>
            </div>
        </div>
  </div>
  <br>
  <br>
  <div class="row">
        <div class="col-md-3 py-2">

        </div>

        <div class="col-md-3  py-2">
            <div class="card h-100">
                <div class="text-center">
                    <h3 class="my-3"><span style="color:blue">14433</span></h2>
                    <h4 class="my-3">Ternary compounds</h4>
                </div>
            </div>
        </div>
        <div class="col-md-3  py-2">
            <div class="card h-100">
                <div class="text-center">
                    <h3 class="my-3"><span style="color:blue">22414</span></h2>
                    <h4 class="my-3">Quaternary compounds</h4>
                </div>
            </div>
        </div>

        <div class="col-md-3  py-2">

        </div>
  </div>
</div>
{% endblock %}

     


      

    
</body>
</html>
