{% extends 'base.html' %}

{% block title %}


<title>CMD - Search</title>

{% endblock %}

{% block body %}
<div class="container">
    <h1 class="display-4"> Search CMD </h1>
    <p>Welcome to our Database of AI generated ternary and quaternary materials. Feel free to use the filters below to submit a search. ** We recommend our user to go from more general (e.g., Prototype) to more specific (e.g., Composition). ** </p>
    <hr class="mb-4">
    
    
      <h4 class="mb-3">Generic Properties</h4>
      <form action="{% url 'results' %}" method="post">
        {% csrf_token %}

        <div class="row">
          <div class="col-md-6 mb-3">
            <div class="form-group row">
              <label class="col-sm-4 col-form-label text-right">Composition</label>
              <div class="col-sm-6">
                <input type="text" class="form-control" id="id_comp" name="comp" placeholder="e.g. Li6SO6" value="" >
              </div>
            </div>
          </div>

          <div class="col-md-6 mb-3">
            <div class="form-group row">
              <label class="col-sm-4 col-form-label text-right">Element Set</label>
              <div class="col-sm-6">
                <input type="text" class="form-control" id="id_element_set" name="element_set" placeholder="e.g. Y-Al-Te-As" value="" >
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 mb-3">
            <div class="form-group row">
              <label class="col-sm-4 col-form-label text-right"># of Elements</label>
              <div class="col-sm-6">
                <input type="text" class="form-control" id="id_num_element" name="num_element" placeholder="e.g. 3" value="" >
              </div>
            </div>
          </div>

          <div class="col-md-6 mb-3">
            <div class="form-group row">
              <label class="col-sm-4 col-form-label text-right"># of Atoms</label>
              <div class="col-sm-6">
                <input type="text" class="form-control" id="id_num_atom" name="num_atom" placeholder="e.g. 36" value="" >
              </div>
            </div>
          </div>
        </div>
        
        <div class="row">
          <div class="col-md-6 mb-3">
            <div class="form-group row">
              <label class="col-sm-4 col-form-label text-right">Prototype</label>
              <div class="col-sm-6">
                <select class="selectpicker" multiple="multiple" data-live-search="true" title="Choose One Generic" id="id_prototype" name="prototype">
                  <option value="ABC<sub>6</sub>">ABC&#x2086;</option>
                  <option value="ABC">ABC</option>
                  <option value="ABC<sub>8</sub>">ABC&#x2088;</option>
                  <option value="AB<sub>6</sub>C<sub>6</sub>">AB&#x2086;C&#x2086;</option>
                  <option value="AB<sub>2</sub>C<sub>4</sub>">AB&#x2082;C&#x2084;</option>
                  <option value="A<sub>2</sub>B<sub>3</sub>C<sub>3</sub>">A&#x2082;B&#x2083;C&#x2083;</option>
                  <option value="AB<sub>6</sub>C<sub>12</sub>">AB&#x2086;C&#x2081;&#x2082;</option>
                  <option value="A<sub>3</sub>B<sub>4</sub>C<sub>6</sub>">A&#x2083;B&#x2084;C&#x2086;</option>
                  <option value="AB<sub>6</sub>C<sub>8</sub>">AB&#x2086;C&#x2088;</option>
                  <option value="A<sub>3</sub>B<sub>3</sub>C<sub>4</sub>">A&#x2083;B&#x2083;C&#x2084;</option>
                  <option value="AB<sub>3</sub>C<sub>12</sub>">AB&#x2083;C&#x2081;&#x2082;</option>
                  <option value="A<sub>3</sub>B<sub>8</sub>C<sub>12</sub>">A&#x2083;B&#x2088;C&#x2081;&#x2082;</option>
                  <option value="AB<sub>4</sub>C<sub>4</sub>">AB&#x2084;C&#x2084;</option>
                  <option value="AB<sub>2</sub>C<sub>2</sub>">AB&#x2082;C&#x2082;</option>
                  <option value="A<sub>3</sub>B<sub>6</sub>C<sub>8</sub>">A&#x2083;B&#x2086;C&#x2088;</option>
                  <option value="ABCD<sub>6">ABCD&#x2086;</option>
                  <option value="ABC<sub>6</sub>D<sub>6</sub>">ABC&#x2086;D&#x2086;</option>
		</select>
              </div>
            </div>
          </div>

          <div class="col-md-6 mb-3">
            <div class="form-group row">
              <label class="col-sm-4 col-form-label text-right">Spacegroup Number</label>
              <div class="col-sm-6">
                <select class="selectpicker" multiple="multiple" data-live-search="true" title="Choose One Spacegroup" id="id_spacegroup" name="spacegroup">
                  <option value="216">216</option>
                  <option value="221">221</option>
                  <option value="225">225</option>
                </select>
              </div>
            </div>
          </div>

        </div>

        <hr class="mb-4">
        <h4 class="mb-3">DFT Calculated Properties</h4>
        <div class="row">
          <div class="col-md-6 mb-3">
            <div class="form-group row">
              <label class="col-sm-4 col-form-label text-right">Formation Energy</label>
              <div class="col-sm-6">
                <!-- <input type="text" class="form-control" id="id_formation_energy" name="formation_energy" placeholder="" value="" > -->
                
                <span id="id_formation_energy_low" class="sr-only">Formation energy low value</span>
                <span id="id_formation_energy_high" class="sr-only">Formation energy high value</span>
                <input type="text" class="form-control" id="id_formation_energy" name="formation_energy" data-slider-enabled="false">
                <div>
                    <input id="fe-enabled" name="fe_enable_or_not" type="checkbox"/> Enabled
                </div>
                
              </div>
            </div>
          </div>

<!--           <div class="col-md-6 mb-3">
            <div class="form-group row">
              <label class="col-sm-4 col-form-label">Formation Energy</label>
              <div class="col-sm-6">
                <input type="text" class="form-control" id="id_num_atom" name="num_atom" placeholder="" value="" >
              </div>
            </div>
          </div> -->
        </div>

      
        <hr class="mb-4">
        <input class="btn btn-primary" type="submit" value="Search">
        <input class="btn btn-primary btn-success clear" name="clear" type="reset" value="Reset">
      </form>
    
        

</div>



{% endblock %}
