{% extends 'base.html' %}

{% block title %}


<title>CMD - Terms of Use</title>

{% endblock %}

{% block body %}
<div class="container">
	<h2 class="text-center">Terms of Use</h2>
	<em>You might need know the following terms and conditions if you want to use this web service:</em>
	<p>The first version of Carolina Materials Database (CMD) is designed and developed by <a href="https://www.linkedin.com/in/yong-zhao-b30920168/" target="_blank">Yong Zhao</a> and currently is maintained by <a href="https://www.linkedin.com/in/yong-zhao-b30920168/" target="_blank">Yong Zhao</a>, and is operated by <a href="http://mleg.cse.sc.edu/" target="_blank">Jianjun Hu's</a> and <a href="https://hu-lab.mystrikingly.com/" target="_blank">Ming Hu's</a> groups at University of South Carolina. By using this web service, you need to acknowledge that all the data in this database is computed, they may not be accurate to some degree. You cannot hold any liability to the creators, developers and hosts of this web service.</p>
	
	<h2 class="text-center">License</h2>
	<p>By using the data from Carolina Materials Database, you have to agree to accept the <a rel="license" href="http://creativecommons.org/licenses/by/4.0/" target="_blank">Creative Commons Attribution 4.0 International License</a>.</p>

	<h2 class="text-center">Privacy Policy</h2>
	<p>In general, the website does not collect personal information form users. You do not have to resgister the account in order to use this web service.</p>

	<h4>Cookies</h4>
	<p>Some cookies would be created when using <b>search</b> functionality. They only contain search quries and will disappear within certain time period.</p>

	<h5>Google Analytics</h5>
	<p>We use <em>Google Analytics</em>, developed by Google, Inc. (“Google”), to analyze how users use our web service so that we can improve the web service. If you want to stop this, you shall follow this <a href="https://tools.google.com/dlpage/gaoptout?hl=en" target="_blank">tutorial.</a> For more infomation of <em>Google Analytics</em> about privacy policy, please visit <a href="http://www.google.com/intl/en/analytics/privacyoverview.html" title="Google Privacy Center" target="_blank">http://www.google.com/intl/en/analytics/privacyoverview.html</a>.</p>

	<h5>Disclosure of Personal Data</h5>
	<p>The Carolina Materials Database does not sell or rent the user data to any parties if the user data is collected by somehow.</p>

	<h5>Links to Other websites</h5>
	<p>If you click the link to another site, you are subject to the privacy policy of the new web site.</p>

	<h5>Updates</h5>
	<p>We will update the policy occasionally.</p>

</div>



{% endblock %}
